[user]
	name = Shaan Sapra
	email = ssapra@uchicago.edu
[apply]
  whitespace = nowarn
[alias]
  nb = checkout -b
  lc = log @{1}.. --stat --no-merges
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar)%Creset' --abbrev-commit --date=relative
  ff = merge --ff-only @{u}
[color]
  status = auto
	ui = auto
[color "status"]
  added = green
  changed = blue
  untracked = magenta
  deleted = red
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[core]
  excludesfile = ~/.gitignore
  quotepath = false
  whitespace = -blank-at-eol
[mirror]
  summary = true
[branch]
  autosetupmerge = true
  autosetuprebase = always
[push]
  default = tracking
[rebase]
  autosquash = true
[web]
  browser = open
